# H1: Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

# Objectives:
- List popular languages for Data Science
- List tools for DS
- List librarys for DS

# Some of the popular languages that Data Scientists use are:
1. SQL
2. Python
3. R

# Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. GGlot2

| Data Science Tools |
| -------------------|
| MySQL |
| Jupyter NoteBook | 
| Rstudio|

### H3: Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [3]:
200/6
#This will convert 200 minutes to hours by diving by 60

33.333333333333336

## H2: Author
# Trong Bao